* {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
  }
  
  body {
    /*
      viewport units
      vh - viewpoert heigth
      vw - viewport width
      vmin - minimum between vh and vw
      vmax - maximum between vh and vw
    */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  header {
    color: lime;
    font-size: 4vmin;
    font-family: 'Audiowide', 'Times New Roman';
  }
  
  h2 {
    color: #FF5733;
    font-size: 2vmin;
    font-family: 'Audiowide', 'Times New Roman';
  }
  
  #grid {
    display: grid;
    grid-template-columns: repeat(13, 10vmin);
    grid-template-rows: repeat(20, 10vmin);
    margin-top: -50vmin;
    justify-content: center;
    transform: scale(0.4);
  }
  
  .grid-item {
    height: 10vmin;
    border: 1px solid lightgrey;
    grid-column: span 1;
    grid-row: span 1;
  }
  
  #button {
    display: flex;
    justify-content: center;
    background-color: #FF5733;
    color: white;
    font-family: 'Audiowide', 'Times New Roman';
    padding: 2vmin;
    margin-top: -55vmin;
    border-radius: 4vmin;
    width: 150px;
  }

