* {
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
  }
  
  body {
    /*
      viewport units
      vh - viewpoert heigth
      vw - viewport width
      vmin - minimum between vh and vw
      vmax - maximum between vh and vw
    */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  header {
    color: lime;
    font-size: 4vmin;
    font-family: 'Audiowide', 'Times New Roman';
  }
  
  h2 {
    color: #FF5733;
    font-size: 2vmin;
    font-family: 'Audiowide', 'Times New Roman';
  }

  h3 {
    color: limegreen;
    font-size: 4vmin;
    font-family: 'Audiowide', 'Times New Roman';
  }
  
  /* #grid {
    display: grid;
    grid-template-columns: repeat(13, 10vmin);
    grid-template-rows: repeat(20, 10vmin);
    margin-top: -60vmin;
    justify-content: center;
    transform: scale(0.4);
  }
  
  .grid-item {
    height: 10vmin;
    border: 1px solid lightgrey;
    grid-column: span 1;
    grid-row: span 1;
  } */
  
  #grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  #grid > div {
    display: flex;
    flex-direction: column;
  }

  #grid > div > div {
    border: 1px solid lightgrey;
    height: 2rem;
    width: 2rem;
  }

  #button {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #FF5733;
    color: white;
    font-family: 'Audiowide', 'Times New Roman';
    padding: 2vmin;
    margin-top: -55vmin;
    border-radius: 4vmin;
    justify-content: center;
    align-items: bottom;
    left: calc(50% - 10vw);
    width: 20vw;
  }

  /* #row0 {
    color: limegreen;
  } */